{% extends 'base.twig' %}

{% block title %}Ooooops{% endblock %}

{% block content %}
    <section>
        <div class="error404">
            <h1>404 <-> Il n'y a rien ici</h1>
            <img src="assets/images/error_404.png" alt="">
        </div>
    </section>
{% endblock %}