{% extends 'base.twig' %}

{% block title %}A propos de moi{% endblock %}

{% block content %}
    <section>
        <h1>Moi, moi et moi</h1>
        <div class="content">
            {% for exp in experiences %}
                <div class="experience">
                    <h2>{{ exp["TITLE"] }}</h2>
                    <p>{{ exp["COMPANY"] }} - {{ exp["START_TIME"] }} à {{ exp["END_TIME"] }}</p>
                    <p>{{ exp["DESCRIPTION"] }}</p>
                </div>
            {% else %}
            {% endfor %}
        </div>
    </section>
{% endblock %}