{% extends 'base.twig' %}

{% block title %}Contact{% endblock %}

{% block content %}
    <section>
        <h1>Ne soyez pas timide, contactez moi!</h1>
        <form action=""></form>
    </section>
{% endblock %}