{% extends 'base.twig' %}

{% block title %}Expériences 📚{% endblock %}

{% block content %}
    <section class="section experiences">
            <h1 class="section_title">Expériences</h1>
        <div class="content">
            {% for exp in experiences %}
                <div class="exp">
                    <h2 class="exp_title">{{ exp['TITLE'] }}</h2>
                    <p class="exp_company">Entreprise: {{ exp['COMPANY'] }}</p>
                    {% if exp['END_DATE'] %}
                        <p class="exp_date">{{ exp['START_DATE'] | date("d/m/Y") }} - {{ exp['END_DATE'] | date("d/m/Y") }}</p>
                    {% else %}
                        <p class="exp_date">En poste depuis le {{ exp['START_DATE'] | date("d/m/Y") }}</p>
                    {% endif %}
                    <p class="exp_description">
                        {{ exp['DESCRIPTION'] }}
                    </p>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="section formations">
            <h1 class="section_title">Formations</h1>
        <div class="content">
            {% for formation in formations %}
                <div class="formation">
                    <h2 class="formation_title">{{ formation["TITLE"] }}</h2>
                    <p class="formation_school">{{ formation["SCHOOL"] }}</p>
                    <p class="formation_graduate">{{ formation["GRADUATE"] }}</p>
                    {% if formation['END_DATE'] %}
                        <p class="formation_date">{{ formation['START_DATE'] | date("d/m/Y") }} - {{ formation['END_DATE'] | date("d/m/Y") }}</p>
                    {% else %}
                        <p class="exp_date">En formation depuis le {{ formation['START_DATE'] | date("d/m/Y") }}</p>
                    {% endif %}
                    <p class="formation_description">{{ formation["DESCRIPTION"] }}</p>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}