{% extends 'base.twig' %}

{% block title %}Hello World 👋{% endblock %}

{% block content %}
    <section class="section home">
        <h1 class="title"><p class="hello">Hello 🖐! Je suis</p> {{ data['FIRST_NAME'] }} {{ data['LAST_NAME'] }}</h1>
            <p class="subtitle">
                {% if data['STACK'] %}
                    {{ data['STACK'] }}
                {% else %}
                    Développeur Front / Fullstack JS
                {% endif %}
            </p>
            <p class="description">J'ai
                {% if ("now" | date('m')) >= (data['BIRTH_DATE'] | date('m')) %}
                    {{ "now" | date('Y') - data["BIRTH_DATE"] | date('Y') }}
                {% else %}
                    {{ ("now" | date('Y') - data["BIRTH_DATE"] | date('Y')) - 1 }}
                {% endif %}
                 ans. {{ data['DESCRIPTION'] }}
            </p>
    </section>
{% endblock %}