{% extends 'base.twig' %}

{% block title %}Mes projets 📝{% endblock %}

{% block content %}
    <section class="section projets">
        <h1 class="section_title">Mes Projets</h1>
        <div class="content">
            {% for projet in data %}
                <div class="projet">
                    <h2 class="projet_title">{{ projet["TITLE"] }}</h2>
                    <p class="projet_date">Créé le: {{ projet["CREATION_DATE"] | date('d/m/Y') }}</p>
                    <div class="projet_description">{{ projet["DESCRIPTION"] }}</div>
                    <a href="{{ projet["URL"] }}" target="_blank" class="projet_url">🌐</a>
                </div>
            {% else %}
                <div>Il n'y a pas de projets pour le moment</div>
            {% endfor %}
        </div>
    </section>
{% endblock %}