* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-family: Montserrat, Helvetica, sans-serif;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 20px;
  z-index: 100;
  background: #fff;
}

.header .brand {
  max-height: 40px;
}

.header .brand #logo {
  display: block;
  width: 100%;
  max-width: 35px;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav .nav_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

.header .nav .nav_ul .nav_li .nav_link {
  display: block;
  text-decoration: none;
  color: #333;
}

.header .nav .nav_ul .nav_li:not(:last-child) {
  margin-right: 15px;
}

.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  padding: 20px;
}

.section:first-child {
  padding-top: 80px;
}

.section .section_title {
  position: relative;
  font-size: 2rem;
  margin-bottom: 20px;
}

.section .section_title:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #333;
  border-radius: 1px;
}

.section.home {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 20px;
}

.section.home .hello {
  color: #808080;
  font-size: 1rem;
  font-weight: normal;
}

.section.home .title {
  display: block;
  font-size: 2rem;
}

.section.home .subtitle {
  padding: 10px 0;
  font-weight: 500;
}

.section.home .description {
  max-width: 600px;
  font-size: 0.8rem;
  color: #4e4e4e;
}

.section.experiences, .section.formations {
  min-height: 50vh;
}

.section .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 600px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 600px));
  grid-gap: 10px;
}

.section .content > div {
  padding: 20px;
  background: #fff;
  -webkit-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.07);
          box-shadow: 0 4px 7px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  background-color: #333;
}

.footer .copy {
  font-size: 0.8rem;
  color: #949494;
}

.btn {
  cursor: pointer;
}

.btn.btn-action {
  margin: 20px 0;
  padding: 10px;
  border: none;
  background: grey;
  color: #efefef;
  font-size: 1rem;
  letter-spacing: 1px;
}
/*# sourceMappingURL=styles.css.map */