* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: Montserrat, Helvetica, sans-serif;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 20px;
  z-index: 100;
  background: #fff;

  .brand {
    max-height: 40px;

    #logo {
      display: block;
      width: 100%;
      max-width: 35px;
    }
  }

  .nav {
    display: flex;
    align-items: center;
    .nav_ul {
      display: flex;
      flex-direction: row;
      list-style: none;

      .nav_li {
        .nav_link {
          display: block;
          text-decoration: none;
          color: #333;
        }

        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    }
  }
}

.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;

  &:first-child {
    padding-top: 80px;
  }

  .section_title {
    position: relative;
    font-size: 2rem;
    margin-bottom: 20px;
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: #333;
      border-radius: 1px;
    }
  }

  &.home {
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;

    .hello {
      color: #808080;
      font-size: 1rem;
      font-weight: normal;
    }
    .title {
      display: block;
      font-size: 2rem;
    }
    .subtitle {
      padding: 10px 0;
      font-weight: 500;
    }
    .description {
      max-width: 600px;
      font-size: 0.8rem;
      color: #4e4e4e;
    }
  }

  &.experiences,
  &.formations {
    min-height: 50vh;
  }
  .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 600px));
    grid-gap: 10px;

    & > div {
      padding: 20px;
      background: #fff;
      box-shadow: 0 4px 7px rgba(0, 0, 0, 0.07);
      border-radius: 5px;
    }
  }
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: #333;

  .copy {
    font-size: 0.8rem;
    color: #949494;
  }
}

.btn {
  cursor: pointer;

  &.btn-action {
    margin: 20px 0;
    padding: 10px;
    border: none;
    background: grey;
    color: #efefef;
    font-size: 1rem;
    letter-spacing: 1px;
  }
}
