<!DOCTYPE html>
<html lang="fr">
<head>
    {% block head %}
        <base href="/"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="shortcut icon" type="image/x-icon" href="assets/favicon.ico"/>
        <link rel="canonical" href="https://germain-michaud.dev"/>
        <meta
                name="description"
                content="Portfolio de Germain Michaud. Développeur Front-End. Développeur informatique. Application web et mobile."
        />
        <meta name="robots" content="index, follow"/>
        <meta name="googlebot" content="index, follow"/>
        <meta name="bingbot" content="index, follow"/>
        <meta property="og:locale" content="fr_FR"/>
        <meta property="og:title" content="Germain Michaud - Front-End Developer"/>
        <meta
                property="og:description"
                content="Portfolio de Germain Michaud. Développeur Front-End. Développeur informatique. Application web et mobile."
        />
        <meta property="og:url" content=""/>
        <meta property="og:locale" content="fr_FR"/>
        <title>{% block title %}{% endblock %} | Portfolio Challenge</title>
        <link rel="stylesheet" href="assets/css/styles.css">
    {% endblock %}
</head>
<body>
<header class="header">
    <div class="brand"><a href="/">
            <svg id="logo" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 133.945 103.372"><title>Logo Germain Michaud</title>
                <path fill="#333"
                      d="M661.583,483H691v24a3.049,3.049,0,0,1-1.083,2.667c-.833.667-41.917,24.167-42.833,24.667a2.352,2.352,0,0,1-2.25,0c-.5-.25-42.917-24.833-42.917-24.833s-.744-.089-.917-2.167,0-48.833,0-48.833a2.912,2.912,0,0,1,1.333-2.167c1.25-.75,42.417-24.5,42.417-24.5s.833-.917,2.417,0,39.917,23,39.917,23a3.821,3.821,0,0,0,2,0c.667-.333,39.75-23.083,39.75-23.083a7.3,7.3,0,0,1,2.583-.5h3.417v99.833a1.21,1.21,0,0,1-.583,1.333c-.833.583-3.333,2-3.333,2a2.474,2.474,0,0,1-1.833,0c-.833-.417-3.5-2-3.5-2a2.535,2.535,0,0,1-.417-1.333V448s-.083-1.25-1.583-.417-34.5,19.833-34.5,19.833a2.519,2.519,0,0,1-2,0c-.833-.5-39.917-22.917-39.917-22.917a2,2,0,0,0-2.417,0c-1.333.917-31.75,18.417-31.75,18.417a2,2,0,0,0-1,1.75c-.083,1.333,0,36.75,0,36.75a2,2,0,0,0,1,1.75c1.083.667,31.833,18.417,31.833,18.417s.75.75,2.25,0,32.083-18.5,32.083-18.5a2.246,2.246,0,0,0,.833-1.417V493H660.333a2.335,2.335,0,0,1-1.667-.417c-.833-.583-5.5-3.667-5.5-3.667s-.917-.583,0-1.417,5.5-3.917,5.5-3.917a3.043,3.043,0,0,1,1.667-.583Z"
                      transform="translate(-600.923 -431.25)"/>
            </svg>
        </a></div>
    <nav class="nav">
        <ul class="nav_ul">
            <li class="nav_li">
                <a href="/" class="nav_link">Accueil</a>
            </li>
            <li class="nav_li">
                <a href="/projets" class="nav_link">Me projets</a>
            </li>
            <li class="nav_li">
                <a href="/experiences" class="nav_link">Expériences</a>
            </li>
        </ul>
    </nav>
</header>

<main class="main">
    {% block content %}<p>Ici le contenu</p>{% endblock %}
</main>

<div class="footer">
    {% block footer %}
        <span class="copy">&copy; {{ "now" | date('Y') }} | La Fabrik du Numérique - Germain Michaud</span>
    {% endblock %}
</div>

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script src="assets/js/app.js"></script>
{% endblock %}
</body>
</html>